html {
    --blockquote-border: 2px solid #0051a2;
}

html[data-theme='dark'] {
    --blockquote-border: 2px solid #5176bf;
}

section .DaysToOffload {
    background-color: var(--block-background-color);
    border: var(--blockquote-border);
    padding: 20px;
    margin-top: 50px;
}

.days-number {
    font-weight: 600;
    color: #c7254e;
}
