@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7PqtzsjDs-cq.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_XiYsKILxRpg3hIP6sJ7fM7PqtzsjDs-cv.ttf) format('truetype');
}

code,
pre,
tt,
kbd,
samp {
  font-family: 'Source Code Pro', Menlo, Consolas, 'Liberation Mono', monospace;
  font-weight: 500;
}

section .DaysToOffload {
    background-color: #f7faff;
    border: 5px solid #0051a2;
    padding: 20px;
}

.days-number {
    font-weight: 600;
    color: #c7254e;
}