<link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
<link rel="dns-prefetch" href="https://res.cloudinary.com/">
<link rel="preconnect" href="https://littlezhang.goatcounter.com/" crossorigin>
<link rel="dns-prefetch" href="https://littlezhang.goatcounter.com/">
{{- $coreCSS := resources.Get "css/style.css" -}}

{{- $coreCSS = slice $coreCSS | resources.Concat "css/tmp_core.css" -}}

{{ $criticalCSS := resources.Get "css/critical-style.css" }}
{{- with partial "custom-css.html" . -}}
    {{- if ne . "" -}}
        {{- $criticalCSS = slice $criticalCSS . | resources.Concat "css/custom_core.css" -}}
        {{- $criticalCSS = $criticalCSS | resources.Minify -}}
    {{- end -}}
{{- end -}}

{{- $coreCSS = slice $coreCSS ("" | resources.FromString "css/_core.css") | resources.Concat "css/core.css" -}}
{{- $coreCSS = $coreCSS | resources.Minify | resources.Fingerprint "sha384" -}}

<link rel="preload" href="{{- $coreCSS.RelPermalink -}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{- $coreCSS.RelPermalink -}}" integrity="{{- $coreCSS.Data.Integrity -}}"></noscript>
<style type="text/css">{{- $criticalCSS.Content | safeCSS -}}</style>

{{ if (findRE "<pre" .Content 1) }}
<style type="text/css" media="screen">
@media (prefers-color-scheme: dark) {
  {{ partial "css/syntax-dark.css" . | safeCSS }}
}
@media (prefers-color-scheme: light) {
  {{ partial "css/syntax-light.css" . | safeCSS }}
}
</style>
{{ end }}

{{ if (findRE "<kbd" .Content 1) }}
<style type="text/css" media="screen">
html {
  --kbd-box-shadow: #777;
  --kbd-background: #eee;
  --kbd-color: #555;
}
html[data-theme='dark'] {
  --kbd-background: black;
  --kbd-color:#ddd;
  --kbd-box-shadow: black;
}
kbd {
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px var(--kbd-box-shadow);
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: var(--kbd-background);
  font-weight: 500;
  color: var(--kbd-color);
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
{{ end }}
